.about {

    &__img-box {
        position: relative;
        transition: $point-three;

        &:hover > .about__img:not(:hover){
           transform: scale(.95);
        }
    }
    
    &__img {
        width: 55%;
        position: absolute;
        border-radius: 4px;
        overflow: hidden;


        &--1 {
            top: 0;
            left: 0;
        }
        &--2 { 
            top: 4rem;
            right: 1rem; 

            @include respond(tab-land) {      
                right: 3rem;
            }
        }
        &--3 {
            top: 12rem;
            left: 11rem;

            @include respond(tab-land) {      
                top: 9.5rem; 
                left: 8rem;
            }
        }
        box-shadow: 0 1.5rem 2.5rem rgba(0,0,0,0.3);
        transition: all .3s;

        &:hover {
            transform: translate(0, .3px) scale(1.1);
            box-shadow: 0 1rem 1.5rem rgba(0,0,0,0.3);
            z-index: 10;

            @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
                                outline-offset: 2rem;
                                outline: 1.5rem solid $color-primary;  
                                border: none; 
                                
            } 
            
        }
    }
}
  
 @include respond(tab) {
      .about {
            
            &__img {
                 position: relative;
                 width: 33.333%;
                 float: left;

                &--1 {
                    transform: scale(1.2); 

                }
                &--2 { 
                    top: 0;
                    right: 0;
                    transform: translate(0, -1.3rem) scale(1.2);
                    z-index: 5;
                }
                
                &--3 {
                    top: 0;
                    left: 0;
                    transform: scale(1.2);
                }

                

                &:hover {
                    outline: 1.5rem solid $color-primary;
                    outline-offset: 2rem;
                    transform: scale(1); 
                    z-index: 10;
                }
            }
        }      
}